body {
    background-color: black;
    background-image: url(assets/background.svg);
    color: white;
    font-family: sans-serif;
    overflow: hidden;
    user-select: none
}

#main_column {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 20px);
    width: 500px;
    max-width: calc(100% - 20px);
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
    border: 1px solid grey;
}



.album {
    border: 1px solid grey;
    margin: 20px;
    padding: 20px;
    background-color: rgb(43, 43, 43);
    border-radius: 2px;
}

.header_text {
    text-align: center;
}

.track_container:hover {
    background-color: rgba(140, 0, 255, 0.5);
}

.track_container .track_text {
    display: inline-block;
    vertical-align: middle;
}

.track_text .track_artists {
    font-size: 12px;
}

.inline_button {
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
}

.inline_cover {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
}

.inline_button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}


.album .cover {
    display: block;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
}

#head_bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid purple;
    padding: 10px;
    box-sizing: border-box;
}

#head_bar .head_button {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

#head_bar textarea {
    vertical-align: middle;
    border-radius: 5px;
    background-color: grey;
    width: calc(100% - 100px);
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    resize: none;
}

#content_area {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 140px);
    overflow-y: scroll;
}

#playback_bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    border-top: 1px solid purple;
}

#playback_bar img {
    left: 0;
    top: 0;
    height: 80px;
    width: 80px;
    display: inline-block;
    vertical-align: top;
}

#playback_controls_area {
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 100px);
    vertical-align: top;
}

#audio {
    display: inline-block;
    width: 100%;
}